# ===============================
# 项目配置
# ===============================
PROJECT_NAME="AI-Engine"
PROJECT_VERSION="0.1.0"
PROJECT_RELOAD=false
PROJECT_HOST="127.0.0.1"
PROJECT_PORT=8000

# ===============================
# 日志配置
# ===============================
LOG_LEVEL="INFO"
LOG_DIR="logs"

# ===============================
# Qwen配置
# ===============================
QWEN_API_KEY="sk-你的key"
QWEN_API_BASE="https://dashscope.aliyuncs.com/compatible-mode/v1"
QWEN_MODEL_LLM="qwen-plus"
QWEN_MODEL_EMBEDDING="text-embedding-v3"
QWEN_EMBEDDING_DIM=1024
TEMPERATURE=0

# ===============================
# Rerank配置
# ===============================
QWEN_MODEL_RERANK=gte-rerank-v2
RERANK_THRESHOLD=0.15
RERANK_TOP_N=3
VECTOR_SEARCH_TOP_K=12

# ===============================
# Chroma配置
# ===============================
CHROMA_DATA_DIR="data/chroma_data"

# ===============================
# Prompts配置
# ===============================
PROMPTS_DATA_DIR="resource/prompts"

# ===============================
# Knowledge配置
# ===============================
KNOWLEDGE_DATA_DIR="resource/knowledge"